# Tableau Preliminary EDA Visualizations

The links for the interactive versions on Tableau Public are:

[NYC Metro Area](https://public.tableau.com/views/DataKIndUCCDACProjectPreliminaryEDA-NYCMetro/NYCMetroArea?:language=en-US&:display_count=n&:origin=viz_share_link)

[NYC Metro Area Panel](https://public.tableau.com/views/DataKIndCDACProjectVisualization-NYCMetro2/Dashboard2?:language=en-US&:display_count=n&:origin=viz_share_link)



I have revised the NYC visualization to incorporate my most recent changes in dataframe. Still unsure about the headings in ACS database.  I implemented teamookla's method of joining the Ookla and FCC dataset.  It also involved having two geodataframes.  I went to the ookla folder to use a different cvs or zip file that was the type of geodataframe, but did not have the `tile` column.  I joined the dataframes using `geopandas.sjoin`, as per teamookla's notebook. I also implemented a fellow colleague's method of aggregating in task 1A.  The four visualizations are on a dashboard where you select which visualization is presented to the user, but I am brainstorming a more effective way of presenting the data.

If you hover over each tract, I have provided the other relevant information on the FCC and Oookla visualizations as visualized below.

https://github.com/teamookla/ookla-open-data/blob/352915afe9fd88eec16fd9814812a8a977f9e04a/tutorials/aggregate_by_county_py.ipynb

Any feedback or suggestions would be greatly appreciated.

# NYC Visualizations

<img src="images/graph1.png">

<img src="images/graph2.png">

<img src="images/graph3.png">

<img src="images/graph4.png">

<img src="images/nyc_tableau.png">

In [3]:
import pandas as pd
import geopandas as gpd
# Set maximum number of rows and columns that can be viewed
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_rows', 100)

In [3]:
df = pd.read_excel("data/Census_Tracts.xlsx")
df.head()

,2,GEOID,NAME Geographic Area Name,NAME Geographic Area Name - Split 1,NAME Geographic Area Name - Split 2,P1 001N,P1 002N,P1 003N,P1 004N,P1 005N,...,P1 062N,P1 063N,P1 064N,P1 065N,P1 066N,P1 067N,P1 068N,P1 069N,P1 070N,P1 071N
0,1400000US36001000100,36001000100,"Census Tract 1, Albany County, New York",1.00,Albany,2073,1865,388,1279,6,...,0,0,0,0,0,0,0,0,0,0
1,1400000US36001000201,36001000201,"Census Tract 2.01, Albany County, New York",2.01,Albany,3125,2892,587,2027,30,...,0,0,0,0,0,0,0,0,0,0
2,1400000US36001000202,36001000202,"Census Tract 2.02, Albany County, New York",2.02,Albany,2598,2389,224,1898,8,...,0,0,0,0,0,0,0,0,0,0
3,1400000US36001000301,36001000301,"Census Tract 3.01, Albany County, New York",3.01,Albany,3190,2845,586,1919,25,...,0,0,0,0,0,0,0,0,0,0
4,1400000US36001000302,36001000302,"Census Tract 3.02, Albany County, New York",3.02,Albany,3496,3224,1982,677,9,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df = df[['GEOID', 'NAME Geographic Area Name - Split 1', 'NAME Geographic Area Name - Split 2']]
df.columns = ['GEOID', 'Census Tract', 'County']
df.GEOID = df.GEOID.astype(str)
df.head()

         GEOID  Census Tract  County
0  36001000100          1.00  Albany
1  36001000201          2.01  Albany
2  36001000202          2.02  Albany
3  36001000301          3.01  Albany
4  36001000302          3.02  Albany

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5411 entries, 0 to 5410
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GEOID         5411 non-null   object
 1   Census Tract  5411 non-null   float64
 2   County        5411 non-null   object
dtypes: float64(1), object(2)
memory usage: 126.9+ KB

In [8]:
data = pd.read_excel('data/NY/Tract_to_NTA.xlsx', 
    header=3, 
    skiprows=1, 
    converters={'2010 Census Bureau FIPS County Code': str, '2010 NYC Borough Code': str, '2010 Census Tract': str, 'PUMA': str, 'GEOID': str})
data = data.reset_index(drop=True)
data.columns = ['Borough', 'County FIPS', 'Borough Code', 'Tract FIPS', 'PUMA', 'NTA Code', 'NTA Name', 'GEOID']
data.GEOID = data.GEOID.astype(str)
data.head()

,Borough,County FIPS,Borough Code,Tract FIPS,PUMA,NTA Code,NTA Name,GEOID
0,Bronx,5,2,31000,3704,BX31,Allerton-Pelham Gardens,36005031000
1,Bronx,5,2,31200,3704,BX31,Allerton-Pelham Gardens,36005031200
2,Bronx,5,2,31400,3704,BX31,Allerton-Pelham Gardens,36005031400
3,Bronx,5,2,31600,3704,BX31,Allerton-Pelham Gardens,36005031600
4,Bronx,5,2,31800,3704,BX31,Allerton-Pelham Gardens,36005031800

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2168 entries, 0 to 2167
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Borough       2168 non-null   object
 1   County FIPS   2168 non-null   int64
 2   Borough Code  2168 non-null   int64
 3   Tract FIPS    2168 non-null   int64
 4   PUMA          2168 non-null   int64
 5   NTA Code      2168 non-null   object
 6   NTA Name      2168 non-null   object
 7   GEOID         2168 non-null   object
dtypes: int64(4), object(4)
memory usage: 135.6+ KB

In [11]:
joined = df.merge(data, how='left', on='GEOID')
joined

,GEOID,Census Tract,County,Borough,County FIPS,Borough Code,Tract FIPS,PUMA,NTA Code,NTA Name
0,36001000100,1.00,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36001000201,2.01,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36001000202,2.02,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36001000301,3.01,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36001000302,3.02,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5406,36123150301,1503.01,Yates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5407,36123150302,1503.02,Yates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5408,36123150400,1504.00,Yates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5409,36123150501,1505.01,Yates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5410,36123150502,1505.02,Yates,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
joined.drop(columns=['Census Tract'], inplace=True)
joined.head()

,GEOID,County,Borough,County FIPS,Borough Code,Tract FIPS,PUMA,NTA Code,NTA Name
0,36001000100,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,36001000201,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,36001000202,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36001000301,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36001000302,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
joined.to_csv('data/NY/NY_Names.csv')

# Chicago Visualizations

<img src='images/tableau_chicago.png'>

In [4]:
df_final = gpd.read_file('data/IL/il_combined.json')
df_final.head()

,GEOID,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,mhi,population,households,n_children,max_dn,max_up,m_d_kbps_wm,m_u_kbps_wm,m_tests,m_devices,f_d_kbps_wm,f_u_kbps_wm,f_tests,f_devices,geometry
0,17001000100,0.813,0.861,0.246,0.068,0.000,10.78,48088.0,4761.0,2202.0,1044,931.548571,915.160000,32737.606061,6917.090909,33.0,25.0,83107.513158,57853.250000,228.0,104.0,"POLYGON ((-91.37766 39.94160, -91.37759 39.946..."
1,17001000201,0.879,0.940,0.266,0.078,0.016,10.71,44855.0,1985.0,889.0,383,872.587302,796.936508,51969.166667,10642.666667,6.0,6.0,90227.187817,49470.203046,197.0,75.0,"POLYGON ((-91.39646 39.95621, -91.39631 39.965..."
2,17001000202,0.863,0.933,0.221,0.080,0.008,10.83,50375.0,2376.0,970.0,521,1000.000000,1000.000000,30752.666667,5535.000000,9.0,9.0,85561.504348,55848.991304,115.0,56.0,"POLYGON ((-91.39370 39.94678, -91.37759 39.946..."
3,17001000400,0.691,0.780,0.094,0.182,0.006,10.31,30164.0,3422.0,1316.0,645,519.804124,198.982021,34147.083333,7197.166667,12.0,9.0,98810.108108,33018.729730,74.0,40.0,"POLYGON ((-91.42005 39.95081, -91.41917 39.951..."
4,17001000500,0.665,0.787,0.113,0.133,0.035,10.62,41008.0,2175.0,813.0,475,982.120690,916.275862,21835.800000,3847.200000,10.0,8.0,106631.160920,57130.229885,87.0,45.0,"POLYGON ((-91.40340 39.95048, -91.39655 39.950..."

In [5]:
chicago = gpd.read_file('data/IL/Boundaries - Census Tracts - 2010.geojson')
chicago.head()

,statefp10,name10,commarea_n,namelsad10,commarea,geoid10,notes,tractce10,countyfp10,geometry
0,17,8424,44,Census Tract 8424,44,17031842400,,842400,031,"MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ..."
1,17,8403,59,Census Tract 8403,59,17031840300,,840300,031,"MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ..."
2,17,8411,34,Census Tract 8411,34,17031841100,,841100,031,"MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ..."
3,17,8412,31,Census Tract 8412,31,17031841200,,841200,031,"MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ..."
4,17,8390,32,Census Tract 8390,32,17031839000,,839000,031,"MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ..."

In [14]:
chicago.columns = ['STATEFP', 'NAME', 'COMMAREA_N', 'NAMELSAD', 'COMMAREA', 'GEOID', 'NOTES', 'TRACTCE', 'COUNTYFP', 'GEOMETRY']

In [15]:
chicago_df = chicago.merge(df_final, how='left', on='GEOID')
chicago_df.head()

,STATEFP,NAME,COMMAREA_N,NAMELSAD,COMMAREA,GEOID,NOTES,TRACTCE,COUNTYFP,GEOMETRY,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,mhi,population,households,n_children,max_dn,max_up,m_d_kbps_wm,m_u_kbps_wm,m_tests,m_devices,f_d_kbps_wm,f_u_kbps_wm,f_tests,f_devices,geometry
0,17,8424,44,Census Tract 8424,44,17031842400,,842400,031,"MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ...",0.853,0.894,0.246,0.971,0.006,10.77,47669.0,3082.0,1245.0,761,851.848214,134.652714,29234.820513,6929.179487,39.0,19.0,83517.605634,12324.042254,71.0,40.0,"POLYGON ((-87.63932 41.75071, -87.63423 41.750..."
1,17,8403,59,Census Tract 8403,59,17031840300,,840300,031,"MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ...",0.860,0.925,0.198,0.032,0.629,10.83,50607.0,3511.0,1205.0,793,810.730337,92.696629,43470.875000,13065.950000,40.0,24.0,80578.942857,18303.920635,315.0,107.0,"POLYGON ((-87.68745 41.83463, -87.68457 41.835..."
2,17,8411,34,Census Tract 8411,34,17031841100,,841100,031,"MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ...",0.682,0.774,0.265,0.014,0.021,10.48,35723.0,7142.0,2726.0,1104,758.543478,53.769304,181761.293515,24565.928328,293.0,94.0,78494.371179,38819.973799,916.0,245.0,"POLYGON ((-87.64271 41.84990, -87.64251 41.850..."
3,17,8412,31,Census Tract 8412,31,17031841200,,841200,031,"MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ...",0.805,0.923,0.362,0.059,0.740,10.73,45700.0,4586.0,1636.0,1144,769.061538,50.000000,28829.645833,14378.625000,48.0,34.0,101241.074667,14421.304000,375.0,91.0,"POLYGON ((-87.68822 41.85934, -87.68583 41.859..."
4,17,8390,32,Census Tract 8390,32,17031839000,,839000,031,"MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ...",0.882,0.993,0.776,0.136,0.096,11.56,105094.0,9209.0,5037.0,646,904.619048,490.549333,128698.703390,17054.692797,472.0,177.0,137965.878884,89148.568802,1577.0,538.0,"POLYGON ((-87.63604 41.87445, -87.63363 41.874..."

In [16]:
chicago_df.drop(columns=['STATEFP', 'NAME', 'COMMAREA_N', 'NAMELSAD', 'NOTES', 'TRACTCE', 'COUNTYFP', 'geometry'], inplace=True)
chicago_df.head()

,COMMAREA,GEOID,GEOMETRY,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,mhi,population,households,n_children,max_dn,max_up,m_d_kbps_wm,m_u_kbps_wm,m_tests,m_devices,f_d_kbps_wm,f_u_kbps_wm,f_tests,f_devices
0,44,17031842400,"MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ...",0.853,0.894,0.246,0.971,0.006,10.77,47669.0,3082.0,1245.0,761,851.848214,134.652714,29234.820513,6929.179487,39.0,19.0,83517.605634,12324.042254,71.0,40.0
1,59,17031840300,"MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ...",0.860,0.925,0.198,0.032,0.629,10.83,50607.0,3511.0,1205.0,793,810.730337,92.696629,43470.875000,13065.950000,40.0,24.0,80578.942857,18303.920635,315.0,107.0
2,34,17031841100,"MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ...",0.682,0.774,0.265,0.014,0.021,10.48,35723.0,7142.0,2726.0,1104,758.543478,53.769304,181761.293515,24565.928328,293.0,94.0,78494.371179,38819.973799,916.0,245.0
3,31,17031841200,"MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ...",0.805,0.923,0.362,0.059,0.740,10.73,45700.0,4586.0,1636.0,1144,769.061538,50.000000,28829.645833,14378.625000,48.0,34.0,101241.074667,14421.304000,375.0,91.0
4,32,17031839000,"MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ...",0.882,0.993,0.776,0.136,0.096,11.56,105094.0,9209.0,5037.0,646,904.619048,490.549333,128698.703390,17054.692797,472.0,177.0,137965.878884,89148.568802,1577.0,538.0

In [17]:
chicago_ca = gpd.read_file('data/IL/Chicago Community Areas.geojson')
chicago_ca.head()

,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,geometry
0,DOUGLAS,0,46004621.1581,0,35,35,0,0,31027.0545098,"MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ..."
1,OAKLAND,0,16913961.0408,0,36,36,0,0,19565.5061533,"MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ..."
2,FULLER PARK,0,19916704.8692,0,37,37,0,0,25339.0897503,"MULTIPOLYGON (((-87.62880 41.80189, -87.62879 ..."
3,GRAND BOULEVARD,0,48492503.1554,0,38,38,0,0,28196.8371573,"MULTIPOLYGON (((-87.60671 41.81681, -87.60670 ..."
4,KENWOOD,0,29071741.9283,0,39,39,0,0,23325.1679062,"MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ..."

In [20]:
chicago_join = chicago_df.merge(chicago_ca, how='left', left_on='COMMAREA', right_on='area_numbe')
chicago_join.head()

,COMMAREA,GEOID,GEOMETRY,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,mhi,population,households,n_children,max_dn,max_up,m_d_kbps_wm,m_u_kbps_wm,m_tests,m_devices,f_d_kbps_wm,f_u_kbps_wm,f_tests,f_devices,community,area,shape_area,perimeter,area_num_1,area_numbe,comarea_id,comarea,shape_len,geometry
0,44,17031842400,"MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ...",0.853,0.894,0.246,0.971,0.006,10.77,47669.0,3082.0,1245.0,761,851.848214,134.652714,29234.820513,6929.179487,39.0,19.0,83517.605634,12324.042254,71.0,40.0,CHATHAM,0,82320670.3112,0,44,44,0,0,42006.9450094,"MULTIPOLYGON (((-87.59535 41.73678, -87.59539 ..."
1,59,17031840300,"MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ...",0.860,0.925,0.198,0.032,0.629,10.83,50607.0,3511.0,1205.0,793,810.730337,92.696629,43470.875000,13065.950000,40.0,24.0,80578.942857,18303.920635,315.0,107.0,MCKINLEY PARK,0,39431799.6479,0,59,59,0,0,26014.0968371,"MULTIPOLYGON (((-87.65611 41.82331, -87.65630 ..."
2,34,17031841100,"MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ...",0.682,0.774,0.265,0.014,0.021,10.48,35723.0,7142.0,2726.0,1104,758.543478,53.769304,181761.293515,24565.928328,293.0,94.0,78494.371179,38819.973799,916.0,245.0,ARMOUR SQUARE,0,27766196.0954,0,34,34,0,0,31948.5988398,"MULTIPOLYGON (((-87.62917 41.84556, -87.62947 ..."
3,31,17031841200,"MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ...",0.805,0.923,0.362,0.059,0.740,10.73,45700.0,4586.0,1636.0,1144,769.061538,50.000000,28829.645833,14378.625000,48.0,34.0,101241.074667,14421.304000,375.0,91.0,LOWER WEST SIDE,0,81550723.6377,0,31,31,0,0,43229.3727036,"MULTIPOLYGON (((-87.63516 41.85772, -87.63532 ..."
4,32,17031839000,"MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ...",0.882,0.993,0.776,0.136,0.096,11.56,105094.0,9209.0,5037.0,646,904.619048,490.549333,128698.703390,17054.692797,472.0,177.0,137965.878884,89148.568802,1577.0,538.0,LOOP,0,46335565.4586,0,32,32,0,0,39428.6729962,"MULTIPOLYGON (((-87.60949 41.88940, -87.60949 ..."

In [21]:
chicago_join.drop(columns=['area', 'shape_area', 'perimeter', 'area_num_1', 'area_numbe', 'comarea_id', 'comarea', 'COMMAREA', 'shape_len', 'geometry'], inplace=True)
chicago_join.head()

,GEOID,GEOMETRY,f_broadband,f_computer,f_ba,f_black,f_hispanic,log_mhi,mhi,population,households,n_children,max_dn,max_up,m_d_kbps_wm,m_u_kbps_wm,m_tests,m_devices,f_d_kbps_wm,f_u_kbps_wm,f_tests,f_devices,community
0,17031842400,"MULTIPOLYGON (((-87.62405 41.73022, -87.62405 ...",0.853,0.894,0.246,0.971,0.006,10.77,47669.0,3082.0,1245.0,761,851.848214,134.652714,29234.820513,6929.179487,39.0,19.0,83517.605634,12324.042254,71.0,40.0,CHATHAM
1,17031840300,"MULTIPOLYGON (((-87.68608 41.82296, -87.68607 ...",0.860,0.925,0.198,0.032,0.629,10.83,50607.0,3511.0,1205.0,793,810.730337,92.696629,43470.875000,13065.950000,40.0,24.0,80578.942857,18303.920635,315.0,107.0,MCKINLEY PARK
2,17031841100,"MULTIPOLYGON (((-87.62935 41.85280, -87.62934 ...",0.682,0.774,0.265,0.014,0.021,10.48,35723.0,7142.0,2726.0,1104,758.543478,53.769304,181761.293515,24565.928328,293.0,94.0,78494.371179,38819.973799,916.0,245.0,ARMOUR SQUARE
3,17031841200,"MULTIPOLYGON (((-87.68813 41.85569, -87.68816 ...",0.805,0.923,0.362,0.059,0.740,10.73,45700.0,4586.0,1636.0,1144,769.061538,50.000000,28829.645833,14378.625000,48.0,34.0,101241.074667,14421.304000,375.0,91.0,LOWER WEST SIDE
4,17031839000,"MULTIPOLYGON (((-87.63312 41.87449, -87.63306 ...",0.882,0.993,0.776,0.136,0.096,11.56,105094.0,9209.0,5037.0,646,904.619048,490.549333,128698.703390,17054.692797,472.0,177.0,137965.878884,89148.568802,1577.0,538.0,LOOP

In [26]:
type(chicago_join)

geopandas.geodataframe.GeoDataFrame

In [25]:
chicago_join.to_file('data/IL/chicago.json', driver='GeoJSON')

TypeError: Cannot interpret '<geopandas.array.GeometryDtype object at 0x1810e3df0>' as a data type